@media screen and (max-width: 1920px) {
    .gif {
        float: right;
    }
}

@media screen and (max-width: 1400px) {
    .anm {
        width: 750px;
        height: 400px;
    }

    .gif {
        float: right;
    }

        .gif img {
            width: 250px;
            height: 180px;
        }
}

@media screen and (max-width: 1035px) {
    .gif {
        position: relative;
        float: none;
        top: 40px;
        margin-left: 30%;
    }

        .gif img {
            width: 250px;
            height: 180px;
        }
}

/*    IPHONE 7-PLUS */
@media screen and (max-width: 415px) {
    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    .anm {
        width: 370px;
        height: 450px;
        box-shadow: 10px 15px grey;
        padding-left: 5px;
    }

    .baslik2 {
        width: 360px;
        margin: auto;
        padding-top: 15px;
    }

    .input {
        top: 200px;
        width: 100%;
        margin: auto;
        margin-top: 0%;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Perfect DOS VGA 437';
    }

        .input hr {
            width: 95%;
            color: #000;
        }

        .input textarea {
            border-radius: 5px;
            padding: 10px;
            overflow: hidden;
            width: 95%;
            max-height: 100px;
        }

    .input2 {
        width: 380px;
        margin: auto;
        padding-top: 15px;
    }

    .gif {
        position: relative;
        float: none;
        top: 40px;
        margin-left: 20%;
    }

        .gif img {
            width: 250px;
            height: 180px;
        }

    .input input[type=submit] {
        left: 35%;
    }
}

/*    IPHONE 7 */
@media screen and (max-width: 375px) {
    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    .anm {
        width: 345px;
        height: 410px;
        box-shadow: 8px 12px grey;
        padding-left: 5px;
    }

    .baslik2 {
        width: 335px;
        margin: auto;
        padding-top: 15px;
    }

    .input {
        top: 200px;
        width: 100%;
        margin: auto;
        margin-top: 0%;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Perfect DOS VGA 437';
    }

        .input hr {
            width: 95%;
            color: #000;
        }

        .input textarea {
            border-radius: 5px;
            padding: 10px;
            overflow: hidden;
            width: 95%;
            max-height: 100px;
        }

    .input2 {
        width: 335px;
        margin: auto;
        padding-top: 15px;
    }

    .gif {
        position: relative;
        float: none;
        top: 40px;
        margin-left: 15%;
    }

        .gif img {
            width: 250px;
            height: 180px;
        }

    .input input[type=submit] {
        left: 30%;
    }
}

/*    IPHONE 5 */
@media screen and (max-width: 321px) {
    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }

    .anm {
        width: 290px;
        height: 390px;
        box-shadow: 5px 7px grey;
        padding-left: 5px;
    }

    .baslik2 {
        width: 300px;
        margin: auto;
        padding-top: 15px;
        overflow: hidden;
        padding-right: 15px;
    }

    .input {
        top: 200px;
        width: 100%;
        margin: auto;
        margin-top: 0%;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Perfect DOS VGA 437';
    }

        .input hr {
            width: 95%;
            color: #000;
        }

        .input textarea {
            border-radius: 5px;
            padding: 10px;
            overflow: hidden;
            width: 95%;
            max-height: 80px;
        }

    .input2 {
        width: 300px;
        margin: auto;
        padding-top: 15px;
    }

    .gif {
        position: relative;
        float: none;
        top: 10px;
        margin-left: 15%;
    }

        .gif img {
            width: 200px;
            height: 140px;
        }

    .input input[type=submit] {
        left: 30%;
    }
}
